<header>

    {{#if notLogged}}

    <div class='right-side'>

        <div>

            <a class="header" href="/register">register</a>
        </div>
        <div>

            <a class="header" href="/login">login</a>
        </div>
    </div>
    {{else}}
    <div class='left-side'>

        <div>
            <a class="header" href="/edit">edit</a>
        </div>
        <div>
            <a class="header" href="/petition/thanks">thanks</a>
        </div>
    </div>
    <div class='right-side'>

        <div>
            <a class="header" href="/logout">logout</a>
        </div>
    </div>

    {{/if}}

</header>