<div class="div-container" id="login">

    <h1 class="title">Please log in</h1>
    <form class="container" action="/login" method="POST" id="login-form">
        {{#if error}}
        <h1 class="error-message">{{errorMessage}}</h1>
        {{/if}}
        <div id="login-email-div">
            <h1>Email</h1>
            <input placeholder="email" type="email" name="email">
        </div>
        <div id="login-password-div">
            <h1>Password</h1>
            <input class="input-password-login" placeholder="password" type="password" name="password_hash">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button"><img style="height: 20px; width: 20px;" src="/icons/paw-black.png" alt=""> log
            in</button>
        <a class="register-link" href="/register">or register if you don't have an account</a>
    </form>
</div>