<div id="login">
    {{#if error}}
    <h1>{{errorMessage}}</h1>
    {{/if}}
    <h1>Please log in</h1>
    <form action="/login" method="POST" id="login-form">
        <div id="login-email-div">
            <h1>Email</h1>
            <input placeholder="email" type="email" name="email">
        </div>
        <div id="login-password-div">
            <h1>Password</h1>
            <input placeholder="password" type="password" name="password_hash">
        </div>
        <button><img style="height: 20px; width: 20px;" src="/icons/paw-black.png" alt=""> log in</button>
    </form>
</div>