<div>
    <h1>sign the petition to be able to bring your pet to Spiced</h1>
    <form action="/petition" method="POST">
        <section id="name-last-inputs">
            <input placeholder="name" type="text" name="first">
            <input placeholder="last name" type="text" name="last">
        </section>
        <div>

            <canvas id="canvas" width="350" height="300"></canvas>
            <input id="signature-input" type="hidden" name="signature">
            <button><img style="height: 20px; width: 20px;" src="/icons/paw-black.png" alt=""> submit</button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="canvas.js"></script>