<div id="profile">
    <h1 class="title">Now tell us just a little more about yourself</h1>
    <form class="container" action="/profile" method="POST">
        <div>
            <h1>Age</h1>
            <input placeholder="Age" type="text" name="age">
        </div>
        <div>
            <h1>City</h1>
            <input placeholder="City" type="text" name="city">
        </div>
        <div>
            <h1>Homepage</h1>
            <input placeholder="Homepage" type="text" name="url">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="button">
            <img src=" /icons/paw-black.png" alt="">CONTINUE
        </button>
    </form>
</div>