<div id="profile">
    <h1>Now tell us just a little more about yourself</h1>
    <form action="/profile" method="POST">
        <div>
            <h1>Age</h1>
            <input placeholder="Age" type="text" name="age">
        </div>
        <div>
            <h1>City</h1>
            <input placeholder="City" type="text" name="city">
        </div>
        <div>
            <h1>Homepage</h1>
            <input placeholder="Homepage" type="text" name="homepage" required>
        </div>
        <button><img style="height: 20px; width: 20px;" src="/icons/paw-black.png" alt="">CONTINUE</button>
        < </form>
</div>