<div id="register">
    <h1>sign the petition to be able to bring your pet to Spiced</h1>
    <form action="/register" method="POST">
        <div>
            <h1>First Name</h1>
            <input placeholder="name" type="text" name="first" required>
        </div>
        <div>
            <h1>Last Name</h1>
            <input placeholder="last name" type="text" name="last" required>
        </div>
        <div>
            <h1>Email</h1>
            <input placeholder="email" type="email" name="email" required>
        </div>
        <div>
            <h1>Password</h1>
            <input placeholder="password" type="password" name="password" required>
        </div>
        <button><img style="height: 20px; width: 20px;" src="/icons/paw-black.png" alt=""> SIGN UP</button>
        < </form>
</div>