html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height: 100%;
    background-color: black;
    font-family: 'Potta One', cursive;
    font-size: 10px;
}

header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: aliceblue;
    background: rgb(37, 36, 36);
    background: linear-gradient(
        60deg,
        rgba(37, 36, 36, 1) 37%,
        rgba(57, 72, 70, 1) 52%,
        rgba(56, 79, 75, 1) 58%,
        rgba(54, 87, 81, 1) 70%,
        rgba(49, 124, 111, 1) 84%,
        rgba(44, 156, 137, 1) 96%,
        rgba(63, 144, 130, 1) 99%,
        rgba(115, 111, 111, 1) 100%
    );
}

canvas {
    border: 1px black solid;
    background-color: aliceblue;
}
.container {
    box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    background-color: rgba(255, 255, 255, 0.308);
    margin: 70px auto;
    width: 450px;
    height: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
#petition-container {
    box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: -1px 2px 45px 21px rgba(0, 0, 0, 0.69);
    background-color: rgba(255, 255, 255, 0.308);
    margin: 20px auto;
    width: 300px;
    height: 560px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
#canvas-signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}
#petition-container {
    width: 500px;
}

.container:hover {
    transform: scale(1.02);
}

img {
    height: 33px;
    width: 33px;
    padding-left: 3px;
}
.btnText {
    margin: 3px 0;
}
.button {
    border: none;
    outline: none;
    height: 70px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0 9px rgb(153, 153, 153);
}
.button:active {
    background-color: transparent;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button:hover {
    background-color: rgba(102, 102, 102, 0.103);
}

#login-form {
    display: flex;
    justify-content: center;
}

#login-email-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-password-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 25px;
    outline: none;
    border: none;
    border-left: 2px solid rgba(0, 0, 0, 0.342);
    background-color: rgba(255, 255, 255, 0.548);
}

input:hover {
    border-left: 3px solid rgba(0, 0, 0, 0.685);
}

/* register */
.title {
    /* font-size: xx-large; */
    padding-top: 30px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

#button-delete button {
    margin-bottom: 8px;
    border: none;
    outline: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    color: black;
    font-size: small;
    font-family: 'Potta One', cursive;
}

footer {
    margin: 0;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: aliceblue;
}

#sig-image {
    margin-bottom: 40px;
    width: 300px;
    height: 250px;
    background-color: aliceblue;
}

#edit form div h1 {
    font-size: small;
}

.edit-your-profile {
    font-size: small;
    color: black;
}

#button-edit {
    height: 90px;
}

.right-side {
    display: flex;
    justify-items: end;
    margin: auto 0;
}

.left-side {
    display: flex;
    justify-items: start;
    margin: auto 0;
}

.right-side a {
    padding: 0 10px 0 10px;
}

.left-side a {
    padding: 0 10px 0 10px;
}

.register-link {
    margin-top: 40px;
    font-size: 12px;
}

/* //////////////////////// */
/* divs */
#signers-copntainer {
    background-size: cover;
    background-image: url(./images/paw1.jpeg);
}

#city-div {
    background-image: url(./images/paw1.jpeg);
    background-size: cover;
}

#edit {
    background-size: cover;
    background-image: url(./images/paw4.jpeg);
}

#petition-div {
    background-image: url(./images/paw3.jpeg);
}

#thanks-container {
    background-image: url(./images/paw3.jpeg);
}
#profile {
    background-size: cover;
    background-image: url(./images/paw2.jpg);
}

#register {
    background-size: cover;
    background-image: url(./images/paw2.jpg);
}
#login {
    background-size: cover;
    background-image: url(./images/paw2.jpg);
}
.div-container {
    height: 100vh;

    /* height: 783px; */
    margin: 0;
    background-position: center center;
}
.password {
    margin-bottom: 20px;
}
.input-password-login {
    margin-bottom: 15px;
}

#button-in-petition {
    margin-top: 35px;
}
#title-in-profile {
    font-size: x-large;
}
#input-homepage {
    margin-bottom: 30px;
}
.header {
    color: aliceblue;
    font-size: large;
    text-decoration: none;
}
.header:hover {
    color: #666;
}
.error-message {
    color: red;
}
